#background1 {
    margin-top: 25px;
}

.fa {
    font-size: 16vh;
    margin-left: 5px;
}

a { 
    color: inherit; 
} 

a:hover{
    text-decoration: none;
}

#contact {
    padding-bottom: 100px;
}