#background1 {
    margin-top: 25px;
}

.fa {
    font-size: 16vh;
    margin-left: 5px;
}

a { 
    color: inherit; 
} 

a:hover{
    text-decoration: none;
    color: #ffb300;
}

#contact {
    padding-bottom: 100px;
}

#contact p {
    font-size: 16px;
}

#particles-js{
    margin-top: -100px;
    width: 100%;
    height: 100%;
    background-color: #3284bf;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#intro {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0em;
    right: 0em;
    top: 400px;
}
@media only screen and (max-width: 900px) {
    #intro {
        top: 250px;
    }
}
@media only screen and (max-width: 600px) {
    #intro {
        top: 150px;
    }
}

#about {
    padding-top: 20px;
}

#background1 {
    background-image: url('../img/bg1.jpg');
}

#background2 {
    background-image: url('../img/bg2.jpg');
}

#background3 {
    background-image: url('../img/bg3.jpg');
}

.parallax { 
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Project Hover */
.project {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .image {
  opacity: 0.3;
}

.project:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3284bf;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}
@media only screen and (max-width: 500px) {
    .text {
        font-size: 8px;
        padding: 4px 12px;
    }
}

div.project {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
  
div.caption {
    text-align: center;
    padding: 10px 20px;
}